{% extends 'bartender/base.html' %}

{% load static %}

{% block content %}
<!-- {% if user.is_authenticated %} -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- ako ukljucis ovo, onda se expanda jednom dobro i vise ne moze zatvoriti jer ga opet otvori ??? -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<style>
    p {
        color: #777
    }

    b {
        color: white
    }

    #modal-cancel-order-reason {
        width: 465px;
        height: 200px;
        padding: 5px;
        line-height: 1em;
    }
</style>

<div id='modal-cancel-order' class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Odbij narudžbu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="cancelation-reason-label" class="col-form-label" id="cancelation-reason-label">
                            Unesite razlog odbijanja
                        </label>
                        <textarea id='modal-cancel-order-reason'></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id='modal-cancel-order-submit'
                    class="btn btn-primary btn-outline-danger">Odbij</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 60px;margin-left: 60px;margin-right: 60px;">
    <table id='orders-table' class="table table-striped table-hover" style="overflow-x:auto">
        <thead class="thead-dark">
            <tr align="center" style="border-left: solid #212529 20px; border-right: solid #212529 20px;">
                <th scope="col">Broj stola</th>
                <th scope="col">Stanje narudžbe</th>
                <th scope="col">Vrijeme narudžbe</th>
                <th scope="col">Cijena</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>

        <tbody class='orders-content'>
        </tbody>

    </table>
</div>
<!-- {% endif %} -->
{% endblock content %}